MOODLE_URL=https://portal.edunest.co/
MOODLE_USERNAME=sysa_admin_glbalnest
MOODLE_PASSWORD="3^nSE'!5UN]8xp>"
HEADLESS_MODE=False
ENABLE_ACTIVIDAD_EXPORT=True

# Remote Selenium Execution Toggle
EXECUTE_REMOTE=False
SELENIUM_REMOTE_URL=http://localhost:4444/wd/hub
