node_modules/
dist/
build/
.DS_Store
*.log
README copy.md
assets/log/
assets/doc-course-test/

# Env files
.env
.env.*
*.env
**/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Workspace directory for dynamic content
workspace/

__pycache__/
*.py[cod]
